---
layout: default
---

<!--
GNU
FSF
GPL
Moscow GNU/Linux User Group
Moscow Linux User Group
Linux User Group
Linux
Unix
Moscow
Russia
группа пользователей Linux
Москва
Россия
линуксоиды
убунта
федора
сервера
сети
программирование
Москва
встречи
общение
софт
хард
железо
пайка
микроконтроллеры
отладка
дебаг
jtga
spi
flash
флеш
роутеры
железки
насы
-->

<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 256px;
  height: 256px;
}

h1 {text-align: center;}
h2 {text-align: center;}
</style>

<img src="{{ 'assets/images/mlug256.png' | relative_url }}" alt="mlug" class="center">

<div class="home">

  {%- if page.title -%}
  <!-- i think it's more clean & simple like that with comments here -->
  <!-- <h1 class="post-title p-name" itemprop="name headline">{{ page.title }}</h1> -->
  {%- endif -%}

  {{ content }}

</div>

<!--
GNU
FSF
GPL
Moscow GNU/Linux User Group
Moscow Linux User Group
Linux User Group
Linux
Unix
Moscow
Russia
группа пользователей Linux
Москва
Россия
линуксоиды
убунта
федора
сервера
сети
программирование
Москва
встречи
общение
софт
хард
железо
пайка
микроконтроллеры
отладка
дебаг
jtga
spi
flash
флеш
роутеры
железки
насы
-->

